<div class="w-full h-full min-h-screen bg-[#353734]">
  <div class="flex flex-col min-md:mx-40 bg-[#DDBD9C] rounded-2xl shadow-xl p-10">
    <div class="flex justify-center mt-6 mb-10">
      <p class="text-5xl max-lg:text-3xl font-bold text-[#514F4D] drop-shadow-md">
        MY PROFILE
      </p>
    </div>
    <div class="flex">
      <div>
        <div class="flex max-md:flex-col justify-center mb-10">
          <div class="max-md:mb-4 max-md:flex max-md:justify-center">
            <%= image_tag "profile_img.jpeg", class: "w-40 h-40 object-cover rounded-full border-4 border-[#514F4D] shadow-lg"%>
          </div>
          <div class="min-md:ml-20 max-md:ml-6 font-semibold text-[#514F4D] space-y-2">
            <p class="max-md:flex max-md:justify-center max-md:mb-4 max-md:text-lg">Nawamin Wongpakham</p>
            <p>Age: 22</p>
            <p class="max-md:hidden">Brith Date: 10 September 2002</p>
            <p class="min-md:hidden">Brith Date: 10/09/2002</p>
            <p>Email: nawamin3438@gmail.com</p>
            <p>Job: Software Developer</p>
          </div>
        </div>
        <div class="">
          <p>Sergeant Frank Spike sat behind his desk and looked out of the window. Outside, cars moved slowly in the cold, grey rain. He looked down at the grey hairs on his arms. His round stomach pushed against the desk. This was his final month before he retired from the police. For Frank, his last day couldn't come too soon. </p>
        </div>
      </div>
    </div>
  </div>
</div>
